<h1>test home</h1>

{{#link-to 'index' class="btn btn-primary"}}home{{/link-to}}
{{#link-to 'items' class="btn btn-primary"}}items{{/link-to}}
{{#link-to 'about' class="btn btn-primary"}}about us{{/link-to}}


{{outlet}}
