<p>These be my items</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Desc</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Scarf</td>
      <td>Scarf of greatness</td>
      <td>$9000</td>
    </tr>
    <tr>
      <td>Hat</td>
      <td>Hat of greatness</td>
      <td>$9002</td>
    </tr>
    <tr>
      <td>Hat 2</td>
      <td>Hat of other greatness</td>
      <td>$4</td>
    </tr>
  </tbody>
</table>
